<div class="container">
    <div class="my-card">
        <div class="bluetooth">
            <div class="b-icon"><img src="assets/bluetooth.png" /></div>
            <div class="side-info">
                <h2>BT011911918898</h2>
                <div class="mt-2 connectible">Connectable</div>
                <div class="s-bluetooth mt-2"><img src="assets/bluetooth 2.png"/>Bluetooth</div>
                <div class="other-icons">
                    <div class="action-icon"><img src="assets/notification.png"/></div>
                    <div class="action-icon"><img src="assets/share.png"/></div>
                    <div class="action-icon"><img src="assets/settings.png"/></div>
                </div>
            </div>
        </div>
    </div>
    <div class="controller">
        <div>
            <div class="device icon"><img src="assets/device.png"/></div>
            <div>Devices</div>
        </div>
        <div>
            <div class="icon"><img src="assets/group.png"/></div>
            <div>Member</div>
        </div>
        <div>
            <div class="icon"><img src="assets/message.png"/></div>
            <div>Inbox</div>
        </div>
        <div>
            <div class="icon"><img src="assets/account.png"/></div>
            <div>Me</div>
        </div>

    </div>
</div>