<div class="container">
    <div class="header-container">
        <div class="battery-icon"><img src="assets/battery.png"/></div>
        <div class="percentage">88% &nbsp;&nbsp; August 7, 2020&nbsp; 2:55pm</div>
    </div>

    <div class="c-container">
        <div class="b-icon">
            <div class="i-bluetooth">
                <img src="assets/bluetooth.png" />
                <div class="connect">connectable</div>
            </div>
        </div>
    </div>
    <div class="bluetoth-ref mt-4">
        <div><img src="assets/bluetooth 2.png"/></div>
    </div>

    <div class="bluetoth-ref">
        <div class="name">Bluetooth</div>
    </div>

    <div class="controller">
        <div class="whole">
            <div class="icon"><img src="assets/home.png"/></div>
            <div class="i-name">Away Mode</div>
        </div>
        <div class="whole">
            <div class="icon"><img src="assets/notification.png"/></div>
            <div class="i-name">Activities</div>
        </div>
        <div class="whole">
            <div class="icon"><img src="assets/share.png"/></div>
            <div class="i-name">Share</div>
        </div>
        <div class="whole">
            <div class="icon"><img src="assets/settings.png"/></div>
            <div class="i-name">Settings</div>
        </div>

    </div>
</div>