<div class="container">
    <div class="content-container first">
        <div class="inner-content">
            <div class="icon"><img src="../../../assets/mobile-phone.png" alt="phone-logo"/></div>
            <div class="title">App usage problem</div>
        </div>
        <div class="arrow"><img src="../../../assets/left-arrow.png"/></div>
    </div>


    <div class="content-container mt-5">
        <div class="inner-content">
            <div class="icon features"><img src="../../../assets/repairing.png" alt="phone-logo"/></div>
            <div class="title">Features</div>
        </div>
        <div class="arrow"><img src="../../../assets/left-arrow.png"/></div>
    </div>

    <div class="content-container mt-5">
        <div class="inner-content">
            <div class="icon lock"><img src="assets/repairing 2.png" alt="phone-logo"/></div>
            <div class="title">Lock installation</div>
        </div>
        <div class="arrow"><img src="assets/left-arrow.png"/></div>
    </div>

    <div class="content-container mt-5">
        <div class="inner-content">
            <div class="icon troubleshoot"><img src="assets/warning.png" alt="phone-logo"/></div>
            <div class="title">Normal trouble shooting</div>
        </div>
        <div class="arrow"><img src="assets/left-arrow.png"/></div>
    </div>
</div>
